# 1. 필요한 기능 불러오기

In [1]:
import pandas as pd
import re

In [2]:
#데이터불러오기

In [3]:
data_005=pd.read_csv('005.csv')

In [4]:
data_005=data_005[['text','file','vector']]#데이터에서 원하는 열만 남기기

In [5]:
data_005

,text,file,vector
0,"사진보니 총 7마리가 아니라 8마리 인데......,",005_0001468264,[-2.8156433e-01 3.3294126e-01 1.7409061e-01 ...
1,진짜 한심하다. 이 사진을 기사라고 말한 ? 이나 거기에 인터뷰한 ? 이나 그걸 자...,005_0001468264,[-0.08999491 0.22015785 0.20146883 -0.662623...
2,잘보니 큰개가 아빠개 7마리 개가족 이네요,005_0001468264,[-0.12907463 1.0153015 0.28258643 -0.820934...
3,대통령께서는학창시절국어교육을잘못받어신것같습니다.이해라는단어를다시배워야될것같습니다,005_0001468264,[-0.33790433 0.20492858 -0.5219766 0.455757...
4,간첩이네 간첩이야,005_0001468264,[-0.05188239 -0.19097605 -0.08860333 0.119605...
...,...,...,...
165920,조용히 ‥나선순간 ‥,005_0001495509,[-6.86631426e-02 1.93242952e-01 -1.48554161e-...
165921,당연히 정권교체 해야죠. 국민 괴롭히고 갈라치기하는 아마추어 정부는 없어져야 합니다,005_0001495509,[-0.22496505 0.3961193 -0.1088163 -0.106553...
165922,아들아ㆍ일본군 장교 출신을 현충원에 묻어 놓고 참배하는 조중동 일가란다ㆍ국짐은 그 ...,005_0001495509,[ 4.5652074e-01 4.5014602e-01 -8.4989619e-01 ...
165923,선거의 여왕? 먼 개소리야 ㅋㅋ,005_0001495509,[-0.25088948 0.09456001 -0.44665286 -0.106916...
165924,남은 여생 봉사 하시면서 편하게 쉬시는게 본인과 국민에 도움 되지 않을까요?,005_0001495509,[-0.39845493 0.16552538 -0.50071675 0.163339...

# 2. 댓글에서 특수기호 제거

In [6]:
data_005['text']=data_005['text'].apply(lambda x : re.sub(r'[^\w\s]', '', x)) # 정규표현식을 사용하여 특수기호를 제거

In [7]:
data_005

,text,file,vector
0,사진보니 총 7마리가 아니라 8마리 인데,005_0001468264,[-2.8156433e-01 3.3294126e-01 1.7409061e-01 ...
1,진짜 한심하다 이 사진을 기사라고 말한 이나 거기에 인터뷰한 이나 그걸 자기 매...,005_0001468264,[-0.08999491 0.22015785 0.20146883 -0.662623...
2,잘보니 큰개가 아빠개 7마리 개가족 이네요,005_0001468264,[-0.12907463 1.0153015 0.28258643 -0.820934...
3,대통령께서는학창시절국어교육을잘못받어신것같습니다이해라는단어를다시배워야될것같습니다,005_0001468264,[-0.33790433 0.20492858 -0.5219766 0.455757...
4,간첩이네 간첩이야,005_0001468264,[-0.05188239 -0.19097605 -0.08860333 0.119605...
...,...,...,...
165920,조용히 나선순간,005_0001495509,[-6.86631426e-02 1.93242952e-01 -1.48554161e-...
165921,당연히 정권교체 해야죠 국민 괴롭히고 갈라치기하는 아마추어 정부는 없어져야 합니다,005_0001495509,[-0.22496505 0.3961193 -0.1088163 -0.106553...
165922,아들아ㆍ일본군 장교 출신을 현충원에 묻어 놓고 참배하는 조중동 일가란다ㆍ국짐은 그 ...,005_0001495509,[ 4.5652074e-01 4.5014602e-01 -8.4989619e-01 ...
165923,선거의 여왕 먼 개소리야 ㅋㅋ,005_0001495509,[-0.25088948 0.09456001 -0.44665286 -0.106916...
165924,남은 여생 봉사 하시면서 편하게 쉬시는게 본인과 국민에 도움 되지 않을까요,005_0001495509,[-0.39845493 0.16552538 -0.50071675 0.163339...

# 3. 비속어 세기

In [8]:
f = open('욕.txt', 'r',encoding = "utf-8")# 비속어가 담긴 파일 읽어오기
ff = f.readlines()


def how_many(text):
    for i in ff: 
            text=text.replace(i.strip(),"최고은",1) # 댓글에 포함된 비속어를 제 이름으로 바꿨어요
    return text.count("최고은") # 그리고 제 이름이 몇번 나오는지 카운트하는 함수를 만들었습니다
            
data_005['단순횟수세기']=data_005['text'].apply(how_many) # 그리고 제가 만든 함수를 각 댓글에 적용해 보았습니다.

In [9]:
data_005

,text,file,vector,단순횟수세기
0,사진보니 총 7마리가 아니라 8마리 인데,005_0001468264,[-2.8156433e-01 3.3294126e-01 1.7409061e-01 ...,0
1,진짜 한심하다 이 사진을 기사라고 말한 이나 거기에 인터뷰한 이나 그걸 자기 매...,005_0001468264,[-0.08999491 0.22015785 0.20146883 -0.662623...,0
2,잘보니 큰개가 아빠개 7마리 개가족 이네요,005_0001468264,[-0.12907463 1.0153015 0.28258643 -0.820934...,0
3,대통령께서는학창시절국어교육을잘못받어신것같습니다이해라는단어를다시배워야될것같습니다,005_0001468264,[-0.33790433 0.20492858 -0.5219766 0.455757...,0
4,간첩이네 간첩이야,005_0001468264,[-0.05188239 -0.19097605 -0.08860333 0.119605...,0
...,...,...,...,...
165920,조용히 나선순간,005_0001495509,[-6.86631426e-02 1.93242952e-01 -1.48554161e-...,0
165921,당연히 정권교체 해야죠 국민 괴롭히고 갈라치기하는 아마추어 정부는 없어져야 합니다,005_0001495509,[-0.22496505 0.3961193 -0.1088163 -0.106553...,0
165922,아들아ㆍ일본군 장교 출신을 현충원에 묻어 놓고 참배하는 조중동 일가란다ㆍ국짐은 그 ...,005_0001495509,[ 4.5652074e-01 4.5014602e-01 -8.4989619e-01 ...,0
165923,선거의 여왕 먼 개소리야 ㅋㅋ,005_0001495509,[-0.25088948 0.09456001 -0.44665286 -0.106916...,1
165924,남은 여생 봉사 하시면서 편하게 쉬시는게 본인과 국민에 도움 되지 않을까요,005_0001495509,[-0.39845493 0.16552538 -0.50071675 0.163339...,0

# 4. 각 기사의 전체 댓글 중  비속어가 언급된 댓글 개수 비율 구하기

In [11]:
all=data_005.groupby('file').count()[['text']] # 각 기사 (file)에 댓글이 몇개 달렸는지 세어보았습니다.
all

                text
file
005_0001468264  2196
005_0001468429   830
005_0001468654    94
005_0001469829   164
005_0001470094  1133
...              ...
005_0001494697  1322
005_0001494809  1663
005_0001494941  2850
005_0001495352  2065
005_0001495509   589

[133 rows x 1 columns]

In [13]:
all=all.reset_index() # 인덱스를 열로 바꿔줄게요

In [14]:
all

               file  text
0    005_0001468264  2196
1    005_0001468429   830
2    005_0001468654    94
3    005_0001469829   164
4    005_0001470094  1133
..              ...   ...
128  005_0001494697  1322
129  005_0001494809  1663
130  005_0001494941  2850
131  005_0001495352  2065
132  005_0001495509   589

[133 rows x 2 columns]

In [15]:
set(data_005['단순횟수세기']) # 욕설이 전혀 언급되지 않은 댓글도 있고 욕설이 7번 언급된 댓글도 있네요

{0, 1, 2, 3, 4, 5, 7}

In [16]:
def one_or_zero(num): # 욕설이 한번도 언급되지 않으면 욕설이 여러번 언급되었으면 1로 반환하는 함수에요
    if num == 0:
        return 0
    else:
        return 1

In [18]:
data_005['욕설유무']=data_005['단순횟수세기'].apply(one_or_zero) # 그리고 제가 만든 함수를 각 댓글에 적용해 보았습니다.

In [19]:
data_005

,text,file,vector,단순횟수세기,욕설유무
0,사진보니 총 7마리가 아니라 8마리 인데,005_0001468264,[-2.8156433e-01 3.3294126e-01 1.7409061e-01 ...,0,0
1,진짜 한심하다 이 사진을 기사라고 말한 이나 거기에 인터뷰한 이나 그걸 자기 매...,005_0001468264,[-0.08999491 0.22015785 0.20146883 -0.662623...,0,0
2,잘보니 큰개가 아빠개 7마리 개가족 이네요,005_0001468264,[-0.12907463 1.0153015 0.28258643 -0.820934...,0,0
3,대통령께서는학창시절국어교육을잘못받어신것같습니다이해라는단어를다시배워야될것같습니다,005_0001468264,[-0.33790433 0.20492858 -0.5219766 0.455757...,0,0
4,간첩이네 간첩이야,005_0001468264,[-0.05188239 -0.19097605 -0.08860333 0.119605...,0,0
...,...,...,...,...,...
165920,조용히 나선순간,005_0001495509,[-6.86631426e-02 1.93242952e-01 -1.48554161e-...,0,0
165921,당연히 정권교체 해야죠 국민 괴롭히고 갈라치기하는 아마추어 정부는 없어져야 합니다,005_0001495509,[-0.22496505 0.3961193 -0.1088163 -0.106553...,0,0
165922,아들아ㆍ일본군 장교 출신을 현충원에 묻어 놓고 참배하는 조중동 일가란다ㆍ국짐은 그 ...,005_0001495509,[ 4.5652074e-01 4.5014602e-01 -8.4989619e-01 ...,0,0
165923,선거의 여왕 먼 개소리야 ㅋㅋ,005_0001495509,[-0.25088948 0.09456001 -0.44665286 -0.106916...,1,1
165924,남은 여생 봉사 하시면서 편하게 쉬시는게 본인과 국민에 도움 되지 않을까요,005_0001495509,[-0.39845493 0.16552538 -0.50071675 0.163339...,0,0

In [20]:
yes_or_not=data_005.groupby('file').sum()[['욕설유무']] # 각 기사당 욕설이 포함된 댓글의 개수 구하기
yes_or_not

                욕설유무
file
005_0001468264   244
005_0001468429    71
005_0001468654    13
005_0001469829    18
005_0001470094    93
...              ...
005_0001494697   113
005_0001494809    81
005_0001494941   181
005_0001495352   234
005_0001495509    63

[133 rows x 1 columns]

In [21]:
yes_or_not=yes_or_not.reset_index()# 인덱스를 열로 바꿔줄게요

In [22]:
yes_or_not

               file  욕설유무
0    005_0001468264   244
1    005_0001468429    71
2    005_0001468654    13
3    005_0001469829    18
4    005_0001470094    93
..              ...   ...
128  005_0001494697   113
129  005_0001494809    81
130  005_0001494941   181
131  005_0001495352   234
132  005_0001495509    63

[133 rows x 2 columns]

In [24]:
final=pd.merge(all,yes_or_not,on='file') # 위에서 구한 두 데이터 프레임을 합쳐요
final

               file  text  욕설유무
0    005_0001468264  2196   244
1    005_0001468429   830    71
2    005_0001468654    94    13
3    005_0001469829   164    18
4    005_0001470094  1133    93
..              ...   ...   ...
128  005_0001494697  1322   113
129  005_0001494809  1663    81
130  005_0001494941  2850   181
131  005_0001495352  2065   234
132  005_0001495509   589    63

[133 rows x 3 columns]

In [25]:
final['욕설이 있는 댓글 비율']=final['욕설유무']/final['text']*100
final

               file  text  욕설유무  욕설이 있는 댓글 비율
0    005_0001468264  2196   244     11.111111
1    005_0001468429   830    71      8.554217
2    005_0001468654    94    13     13.829787
3    005_0001469829   164    18     10.975610
4    005_0001470094  1133    93      8.208297
..              ...   ...   ...           ...
128  005_0001494697  1322   113      8.547655
129  005_0001494809  1663    81      4.870716
130  005_0001494941  2850   181      6.350877
131  005_0001495352  2065   234     11.331719
132  005_0001495509   589    63     10.696095

[133 rows x 4 columns]

In [26]:
final.to_csv('욕설_005_비율_final.csv') # 파일로 저장해요